<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
	</head>
	<body>
        <p>{{.Msg}}</p>
        <input type="number" id="num" name="num" value="100">
        <button id="send">Send</button>
        <button id="stop">Stop</button>
        <div id = "status"></div>
        <div id = "last"></div>
        <div id = "full"></div>
    </body>
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
    
    <script>
        

        $('#stop').click(function() {
            makeFinish();
        });

        var data;
        $('#send').click(function() {

          $.ajax({
            url: "/calculate",
            method: "POST",
            data : {n: $('#num').val()},

                  success : function(data) {
                    if (data.success) {
                      setUID(data.UID);
                      makeStart();
                      executeQuery();                    
                    } else {
                      alert(data.meta.msg);                      
                    }
                  },
                  error: 
                  function(data) {
                    alert("Ошибка доступа")
                  },
          });
        });
      </script>

</html>


